@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
nav1{
	font-family: 'Neon Sans', sans-serif;
			color: #af889e;
			font-size: 50px;
}
.container{
	height: 100vh;
	width: 100%;
	background-image: url("images/background_oval.png");
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}
.navbar{
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
	font-family:  'Fashion Stamp', sans-serif;
}
.logo{
	width: 100px;
	height: 150px;
	cursor:pointer;
}
.cart{
	width: 40px;
	cursor:pointer;
}
nav{
	flex: 1;
	padding-left: 60px;
	font-family: 'Fashion Stamp', sans-serif;
	font-size: 25px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}
nav ul li a{
	text-decoration: none;
	color:#333;
	padding-left: 35px;
}
body1{
	margin-top: 0px;
	padding: 0px;
	background-color: #806f8a;
	overflow: hidden;
}
a{
	text-decoration: none;
}
.container2{
	display: flex;
	overflow-x: auto;
}
.container2::-webkit-scrollbar{
	width: 0;
}
.slider{
	margin: 25px;
	width: 350px;
	background-color: #af889e;
	border-radius: 25px;
	overflow: hidden;
}
.image{
	position: relative;
}
.image img{
	height: 450px;
	width: 360px;
	object-fit: cover;
	box-sizing: border-box;
}
.product-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	box-sizing: border-box;
}
.product-name{
	display: flex;
	flex-direction: column;
}
.product-name a{
	color: #7f6f8a;
	margin: 0px 0px;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Fashion Stamp', sans-serif;
}
span{
	color: #000000;
}
.price{
	font-size: 17px;
	font-weight: bold;
	color: #824f91;
	margin-top: 23px;
}
.Button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.6);
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	height: 50px;
	width: 150px;
	background-color: #9aaed1;
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
}
.btn:hover{
	background-color: #fff;
	color: #9aaed1;
	transition: all ease 1s;
}
.button{
	visibility: hidden;
}
.image:hover .Button{
	visibility: visible;
	animation: animation 1s;
}
@keyframes animation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.container2{
	display: flex;
	justify-content: left;
	height: 600px;
	width: 4000px;
	margin: 10px auto; 
	margin-left: 150px;
}